[flake8]
max-line-length = 100
select = ANN,B,B9,BLK,C,D,DAR,E,F,S,W
ignore = E203,E501,W503,B905
exclude =
    .git,
    __pycache__,
    __init__\.py,
    build,
    dist,
# Ignore "imported but unused" in __init__.py files
per-file-ignores = __init__.py:F401
application-import-names = groufi,tests
import-order-style = pycharm
docstring-convention = google
